services:
  core:
    container_name: semaphore-core
    build:
      context: .
      dockerfile: Dockerfile.core
      args:
        SERVICE_ACCOUNT_USERNAME: ${SERVICE_ACCOUNT_USERNAME}
        SERVICE_ACCOUNT_UID: ${SERVICE_ACCOUNT_UID}
    restart: always
    command: ["tail", "-f", "/dev/null"]
    env_file:
      - .env
    platform: linux/amd64
    environment:
      - DB_LOCATION_STRING=${DB_LOCATION_STRING}
      - ISERIESSTORAGE_INSTANCE=${ISERIESSTORAGE_INSTANCE}
      - DSPEC_FOLDER_PATH=${DSPEC_FOLDER_PATH}
      - MODEL_FOLDER_PATH=${MODEL_FOLDER_PATH}
      - IS_DEV=${IS_DEV}
      - DISCORD_NOTIFY=${DISCORD_NOTIFY}
      - DISCORD_WEBHOOK_PROD=${DISCORD_WEBHOOK_PROD}
      - DISCORD_WEBHOOK_DEV=${DISCORD_WEBHOOK_DEV}
    depends_on:
      db:
        condition: service_healthy
    # networks:
    #   - semaphore-net
    volumes:
      - ./data:/app/data
    healthcheck:
      test: ["CMD", "python3", "tools/HEALTHCHECK_CORE.py"]
      interval: 30s
      timeout: 60s
      retries: 0
    extra_hosts:
      - "host.docker.internal:host-gateway"
  api:
    container_name: semaphore-api
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile.api
      args:
        SERVICE_ACCOUNT_USERNAME: ${SERVICE_ACCOUNT_USERNAME}
        SERVICE_ACCOUNT_UID: ${SERVICE_ACCOUNT_UID}
    restart: always
    env_file:
      - .env
    environment:
      - DB_LOCATION_STRING=${DB_LOCATION_STRING}
      - ISERIESSTORAGE_INSTANCE=${ISERIESSTORAGE_INSTANCE}
      - DSPEC_FOLDER_PATH=${DSPEC_FOLDER_PATH}
      - MODEL_FOLDER_PATH=${MODEL_FOLDER_PATH}
    ports: 
      - "${API_HOST_PORT}:8000"
    depends_on:
      - db
    # networks:
    #   - semaphore-net
    volumes:
      - ./data:/app/data
    healthcheck:
      test: ["CMD", "curl", "-f", "host.docker.internal:8888/health"]
      interval: 30s
      timeout: 60s
      retries: 0
    extra_hosts:
      - "host.docker.internal:host-gateway"
  db:
    container_name: semaphore-db
    image: postgres:15.4
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${DB_HOST_PORT}:5432"
    command:
    - postgres
    - -c
    - listen_addresses=* #postgress listens on all network interfaces
    - -c
    - shared_preload_libraries=pg_stat_statements #Loads the pg_stat_statements module at startup, stracks execution statistics, and stores them in shared memory
    - -c
    - pg_stat_statements.max=10000 # Sets the maximum number of distinct SQL statements that Postgres will track.
    - -c
    - pg_stat_statements.track=all
    - -c
    - pg_stat_statements.save=on #Continues statistics across Postgres restarts
    # networks:
    #   - semaphore-net
    volumes:
      - psql-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 30s
      timeout: 60s
      retries: 0
volumes:
  psql-data:
# networks:
  # semaphore-net:
  #   driver: bridge

